@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Utilities */
:root {
  --very-light-grey: #e5e7eb;
  --light-grey: #9ca3af;
  --medium-grey: #6b7280;
  --dark-grey: #1f2937;
  --bg-skin: #fef2f2;
  --bg-indidgo: #eef2ff;
  --white: #fff;
  --blue: #3730a3;
  --line-ht: 28px;
}

a {
  text-decoration: none;
  color: var(--blue);
}

.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: auto;
}

.btn {
  border: 1px solid var(--blue);
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #3730a3;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.btn-fill {
  color: var(--white);
  background-color: var(--blue);
}

.btn-outline {
  color: var(--blue);
  background: #ffffff;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 28px;
  padding-top: 87px;
}

#navbar div ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar div ul li {
  margin: 0 40px;
}

#navbar div ul li a {
  text-decoration: none;
  color: var(--medium-grey);
  font-size: 18px;
  font-weight: 500;
}

/* Hero */
#hero {
  padding-top: 194px;
  display: grid;
  grid-template-columns: 622px 478px;
  column-gap: 80px;
}

#hero .hero-author .line::after {
  content: "";
  width: 102px;
  border-bottom: 10px solid var(--blue);
  height: 1px;
  color: var(--blue);
}

#hero .hero-author span {
  font-weight: 500;
  font-size: 20px;
  color: var(--blue);
  line-height: 28px;
}

#hero .hero-main-heading {
  margin-top: 40px;
}

#hero .hero-main-heading p {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  color: var(--dark-grey);
}

#hero .hero-main-para {
  margin-top: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--medium-grey);
}

#hero .hero-cta-btn {
  margin-top: 40px;
}

#hero .hero-cta-btn button {
  margin-right: 20px;
}

#hero hr {
  margin-top: 20px;
  background-color: var(--very-light-grey);
  border: 1px solid #e5e7eb;
}

#hero .hero-subtext {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--medium-grey);
}

/* Services */

main section {
  padding-top: 198px;
}

#headline {
  padding: 0 80px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--dark-grey);
}

#headline span {
  color: var(--blue);
}

#services {
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#services .services-list {
  padding: 45px;
}

#services .services-list ul {
  list-style: none;
}

#services .services-list ul li:nth-child(2),
#services .services-list ul li:nth-child(3) {
  margin-top: 68px;
}

#services .services-list ul li .services-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--dark-grey);
}

#services .services-list ul li .services-body {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--medium-grey);
}

#services .services-list ul li .services-btn {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--blue);
}

#services .services-list ul li .services-btn::after {
  content: "->";
}

/* Trusted By */

#trusted-by {
  background-color: var(--bg-skin);
  margin-top: 150px;
  padding: 100px 128px;
}

#trusted-by p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--medium-grey);
}

#trusted-by div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Projects */

#projects .head {
  padding: 150px 83px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: var(--dark-grey);
  text-align: center;
}

#projects .project-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#projects .project-gallery #first {
}
